$sizes: (
  tablet: 768px,
  desktop: 1024px
);

@mixin media( $type: 'tablet' ) {
  @if map-has-key( $sizes, $type ) {
    @media only screen and ( min-width: #{map-get( $sizes, $type )} ) {
      @content;
    }
  }
}
