$main-color: #539BEC;

$lightest-color: #FFF;
$darkest-color: #505050;

$dark-gray: #9D9D9D;
$medium-gray: #A0A0A0;
$light-gray: #DCDCDC;

$light-blue: #1AC1FB;

$title-font-size: 40px;
$subtitle-font-size: 24px;
$base-font-size: 16px;
