.button {
  background: linear-gradient(to right, $light-blue , $main-color);
  border: none;
  color: $lightest-color;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;

  &:hover {
    background: linear-gradient(to left, $light-blue , $main-color);
  }

  &.outlined-button {
    border: solid 2px $lightest-color;
    background: none;

    &:hover,
    &:focus {
      background-color: $lightest-color;
      color: $main-color;
    }

    &.outlined-dark {
      border-color: $darkest-color;
      color: $darkest-color;

      &:hover,
      &:focus {
        background-color: $darkest-color;
        color: $lightest-color;
      }
    }

    &.disabled-button {
      border-color: $dark-gray;
      color: $dark-gray;
      cursor: default;

      &:hover {
        background: none;
      }
    }
  }
}
