.simple-form {
  align-items: center;
  display: flex;

  .form-field {
    border: none;
    background-color: $lightest-color;
    color: $darkest-color;
    font-size: $base-font-size;
    height: 40px;
    padding: 20px;
  }

  .form-button {
    height: 40px;
  }
}
