.banner {
  background-image: url('https://d29k9pp6ge5sv1.cloudfront.net/searchStaticProducao/942/img/foto_home_desktop.jpg');
  background-position: 10% 15%;
  background-repeat: no-repeat;
  background-size: 190%;
  color: $lightest-color;
  display: flex;
  height: 400px;
  padding-top: 60px;
  width: 100%;

  .content-wrapper {
    align-self: center;
  }

  .banner-title,
  .banner-subtitle,
  .banner-notice {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .banner-title {
    font-size: $title-font-size;
    font-weight: bold;
  }

  .banner-subtitle {
    font-size: $subtitle-font-size;
  }

  .simple-form {
    justify-content: center;
    margin-bottom: 10px;

    .form-field {
      height: 50px;
      width: 500px;
    }

    .form-button {
      height: 50px;
      margin-left: 2px;
      position: relative;
      width: 50px;

      &:before {
        content: url('https://d29k9pp6ge5sv1.cloudfront.net/searchStaticProducao/942/img/compressed/5a-search-branco.svg.gz');
        position: absolute;
        right: 12px;
        top: 12px;
      }
    }
  }

  @include media('tablet') {
    background-position: 0 30%;
    background-size: cover;
  }
}
