.footer {
  background-color: $darkest-color;
  padding: 30px 0;

  .footer-holder {
      display: none;
  }

  .footer-medias {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 200px;
  }

  .media-link {
    cursor: pointer;
    text-decoration: none;
  }

  .media-icon {
    height: 20px;
    width: 20px;;
  }

  @include media('desktop') {

    .footer-holder {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .footer-logo {
      height: 40px;
      width: 240px;
    }

    .footer-lists {

        ul {
          display: inline-block;
          vertical-align: top;
          margin-left: 30px;

          &:first-child {
              margin-left: 0;
          }

          > li {
            line-height: 1.4;
          }
        }
    }

    .list-title{
      color: $medium-gray;
      font-size: $base-font-size;
      text-transform: uppercase;
    }

    .list-link {
      color: $lightest-color;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
