.inmedia {
  display: none;

  @include media('tablet') {
    background-color: $light-gray;
    display: block;
    padding: 50px 0;

    .inmedia-title {
      color: $dark-gray;
      font-size: $subtitle-font-size;
      text-align: center;
    }

    .inmedia-container {
      align-items: center;
      display: flex;
      justify-content: space-around;
    }

    .inmedia-link {
      text-decoration: none;
    }

    .inmedia-image {
      width: 200px;
      height: auto;
    }
  }
}
