.menu {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  width: 100%;

  .menu-logo {
    height: 50px;
    width: 140px;
  }

  .menu-options {
    position: relative;

    * {
      margin-left: 10px;
    }
  }

  .option-announce {
    display: none;
  }

  .option-favorite {
    color: $lightest-color;
    font-size: 0;
    padding-bottom: 10px;
    text-decoration: none;

    &:before {
      content: url('https://d29k9pp6ge5sv1.cloudfront.net/searchStaticProducao/942/img/compressed/5a-favoritos-new.svg.gz');
      margin-right: 5px;
      vertical-align: sub;
    }

    &:hover,
    &:focus {
      border-bottom: solid 1px $lightest-color;
    }
  }

  @include media('tablet') {
    padding: 10px 30px;

    .menu-logo {
      width: 170px;
    }

    .option-announce {
      display: inline-block;
    }

    .option-favorite {
      font-size: $base-font-size;
    }
  }
}
