.phoneapp {
  display: none;

  @include media('tablet') {
    background-color: $light-gray;
    color:$darkest-color;
    display: block;
    height: 240px;
    margin-bottom: 40px;

    .content-wrapper {
      align-items: initial;
      display: flex;
      justify-content: center;
    }

    .phoneapp-devices {
      min-width: 360px;

      .android-device {
        transform: translate(10px, -50px);
      }

      .iphone-device {
        transform: translate(-20px, -30px);
      }
    }

    .phoneapp-content {
      margin-left: 30px;
      padding: 10px 0;
    }

    .phoneapp-ad {
      margin-bottom: 10px;
    }

    .phoneapp-title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .phoneapp-info {
      display: block;
      font-size: $base-font-size;
      margin-bottom: 10px;
    }

    .simple-form {

      .form-button {
        margin-left: 5px;
      }
    }
  }
}
