.productsteps {
  padding: 30px 0;

  .productsteps-title {
    color: $darkest-color;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }

  .productsteps-subtitle {
    color: $medium-gray;
    display: block;
    font-size: $subtitle-font-size;
    margin-bottom: 10px;
    text-align: center;
  }

  .step {
    margin: 0 10px 10px;
  }

  @include media('tablet') {

    .productsteps-header {
      max-width: 900px;
      margin: 0 auto 30px;
      padding-bottom: 30px;
      position: relative;
      width: 90%;

      &:after {
        background-color: $light-gray;
        bottom: 0;
        left: calc(50% - 300px);
        content: '';
        height: 1px;
        position: absolute;
        width: 600px;
      }
    }

    .productsteps-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
  }
}
