.step {
  width: 100%;

  .step-image {
    display: block;
    margin: 0 auto;
    height: 150px;
  }

  .step-title {
    color: $darkest-color;
    font-size: $subtitle-font-size;
    margin-bottom: 10px;
    text-align: center;
  }

  .step-content {
    color: $dark-gray;
    font-size: $base-font-size;
    line-height: 1.2;
    text-align: center;

    .content-important {
      color: $darkest-color;
    }
  }
}
